@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.hero-container{
    width: 1400px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logotext{
    font-weight: 600;
    font-size: 2rem;
}

.nav-items{
    display: flex;
    gap: 2rem;
    padding:0 4rem;
    
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items a{
    color: black;
}

.nav-items div:hover{
    font-weight: 600;
    transition: 0.8s;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 600;
}

.hero-section-sub-heading{
    font-size: 45px;
    line-height:45px
}

.hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn{
    width: fit-content;
    padding: 0.8rem 2.3rem;
    background-color: red;
    box-shadow: 5px 5px 7px 0px grey;
    color: white;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


.btn::before{
    content:"";
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 1s;
    z-index: -1;
}

.btn:hover::before{
    content:"";
    transform: scaleX(1);
}

.hero-section-right{
    position: relative;
    

}

.absolute{
    position: absolute;
}


.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleimage 5s linear infinite;
    z-index:-1;
}

@keyframes scaleimage{
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }

    50%{
        filter: grayscale(1);
        transform: scale(1.1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        filter: grayscale(0);
        transform: scale(1);
    }
}

.icons{
    z-index:1;
}

.icon-dots{
    bottom: -1rem;
    right: 0;
    animation: dots 5s  infinite;
}

@keyframes dots{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}

.icon-cube{
    top: -0.8em;
    right: 1em;
    animation: cube 3s infinite;
}

@keyframes cube{
    0%{
        transform: rotateY(0) translateY(0px);
    }

    50%{
        transform: rotateY(180deg) translateY(-12px);
    }

    100%{
        transform: rotateY(360deg) translateY(0px);
    }
}

.icon-circle{
    bottom:0;
    left: 0;
    animation: circle 6s linear infinite;
}

@keyframes circle{
    0%{
        bottom:0;
        left: 0;
    }

    50%{
        bottom:10%;
        left: 5%;
    }

    100%{
        bottom:0;
        left: 0;;
    }
}

.icon-zigzag{
    top: 1.5em;
    left: -0.3em;
    animation: zigzag 5s ease-in infinite;
}

@keyframes zigzag{

    50%{
        top: 2%;
        left: 5%;
    }
}

.icon-plus{
    top: -0.8rem;
    left: 50%;
    animation: plus 5s ease-in infinite;
}

@keyframes plus{
    50%{
        top: 3%;
        left: 45%;
    }
}

.faded-text{
    position: absolute;
    user-select: none;
    font-size: 5em;
    color: rgb(231, 231, 231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.Projects{
    position: relative;
    background-color: rgb(231, 231, 231);
}

.heading{
    color: #e84949;
    font-size: 90px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
}

.project-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

